.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpaperaccess.com/full/3628650.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
   }
*{
    margin: 0;
    padding: 0;
}

.box1c {
    width: 1000px;
    height: 200px;
    background-color: white;
    opacity: 0.6;
    text-align: center;
    padding: 50px;
}

.box1texto1, .box1texto2, .box1c{
    visibility: hidden;
}